.nav th {
    display: inline-block;
    margin-right: 10px; /* Add some margin between the tab items */
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
  }
  
  .nav th.active {
    background-color: #ccc;
  }

  .tab-content {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
